#corners{
    width: 150px;
    height: 150px;
    border-radius: 6px;
    border: 1px solid black;
    transform: translate(150px, 0px);
    padding: 5px;
}

#corners:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div#frame{
    transform: translate(150px, 0px);
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2),  0 6px 10px 0 rgba(0,0,0,0.19);
    margin-bottom: 25px;
}

div#container{
    text-align: center;
    padding: 10px 20px;
}