/* Tables */

#table{
    background-color: blueviolet;
    border-collapse: collapse;
    border: 1px;
    height: 50%;
    width: 50%; 
}     

#divTable{
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 5%;
    margin-left: 35%;
    border: 1px;
}

.tableRow:nth-child(odd){
    background-color: slateblue;
}

.tableRow:hover{
    background-color: dimgray;
}

/* banner */

#sent{
    font-family: 'Merriweather', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    word-spacing: 10px;
    padding:50px;
    background-color: thistle;
    border:10px solid;
    border-color: rgb(100, 100, 128);
    outline-style: dashed;
    outline-width: 10px;
    outline-color: darkseagreen;
    outline-offset: 5px;
    margin: 2% 2% 5% 10%;
}

#sent:hover{
    background-color: blue;
    color:aliceblue;
}

#text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 125%;
    text-align: justify;
    text-transform: capitalize;
    padding: 3%;
    border: 5px;
    border-style: solid;
    border-radius: 50px 0px 50px 0px;        
    margin: 5% 20% 5%;
}

#textData::first-line{
    color:aqua;
}

#h2.labelFonts{
    text-align: center;
}

/* Fonts */

.regularFonts{
    color: aliceblue;
    font: bold;
    font-family: 'Courier New', Courier, monospace  ;
}

.labelFonts{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

/* Horizontal/vertical navigation bar */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100%; /* FULL SCREEN */
    position: fixed; /* sticks and never scrolls*/
    overflow: auto; /* in-case of many elements*/
    background-color: #f1f1f1;
}

li a{
    display: block;
    padding-top: 8px;
    padding-bottom: 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover{
    background-color:  #ffefa9;
    color: #000000
}

.active{
    background-color: #ffd930;
    color: #000000; 
}
/* drop down text*/

#alignDrop{
    text-align: center;
    margin-bottom: 10%;
}

#drop{
    position: relative;
    display: inline-block;
}

#dropContent{
    display: none;
    position: absolute;
    font-size: 150%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

#drop:hover #dropContent{
    display:block;
}

/* Drop down links */


#dropbtn{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#droplink{
    position: relative;
    display: inline-block;
}

#contentDrop{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#contentDrop a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#contentDrop a:hover{
    background-color: #f1f1f1
}

#dropLink:hover #contentDrop{
    display: block;
}

#dropLink:hover #dropBtn{
    background-color: #3e8e41;
}


/* HTML Forms */

#UName{
    padding: 5px;
    border-radius: 10px 0px 10px 0px;
    padding: 1% 1%;
    width: 30%;
    margin-left: 0%;
 }
 #UNameText{
     padding: 5px;
     margin-left: 10%;
 }
 
 #Age{
     margin-top: 1%;
     padding: 5px;
     border-radius: 10px 0px 10px 0px;
     padding: 1% 1%;
     width: 30%;
 }
 
 #AgeText{
     margin-left: 10%;
 }
 


#maleOpt{
    margin: 3% 0% 0% 10%;
}

#checkBox{
    margin: 3% 3% 0% 10%;
    display: block;
}

#submitBtn{
    padding: 10px 10px 10px 10px;
    margin: 10% 5% 0% 5%;
}

