#toolTip{
    transform: translate(150px, 50px);
    /*Important bits*/
    position: relative;
    display: inline-block;
}

#toolTip .toolText{
    /*Important bits*/
    visibility: hidden;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 50%;
    margin-left: -60px;

    width: 150px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
}

#toolTip .toolText::after{
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent  transparent black;
}

#toolTip:hover .toolText{
    visibility: visible;
}

